body {
    margin: 0;
    padding: 0;
    background-color: #AF47E8;
    color: #fff;
}

.faq-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background: #AF47E8;
    position: relative;
}

.close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #fff;
    transition: color 0.3s ease;
}

h1 {
    text-align: left; 
    color: #000;
}

h2 {
    text-align: left;
    color: #fff;
    margin-bottom: 2rem;
}

p {
    line-height: 1.6;
    font-size: 1.2rem;
}

.faq-item {
    margin-bottom: 0.1rem;
}

.faq-question {
    font-weight: bold;
    cursor: pointer;
    padding: 0.3rem;
    background: #AF47E8;
    border-radius: 8px;
    transition: background 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.faq-answer {
    display: none;
    padding: 0.75rem 1rem;
    background: #fff;
    border-radius: 8px;
    color: #000;
}